flask
python_dotenv
flask-sqlalchemy
sqlalchemy
flask_cors
redis
influxdb_client
requests_cache
pyodbc
sqlalchemy
pandas
scipy
PyJWT
psycopg2-binary
keras
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.1.5 # not directly required, pinned by Snyk to avoid a vulnerability
